<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "xmrminer.midnight.yt"
        versionCode = "010" 
        version     = "0.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>XMR Miner</name>
    
     <icon src="/xmrminericon.png" />

    <description>
        Mine XMR with this
    </description>

    <author href="https://www.youtube.com/channel/UCTSCIlh1nngMvS9EvSMqXNA" email="lookdude2017@gmail.com">
        MidNight
    </author>
    <allow-navigation href="*" />
</widget>
