<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "xmrminer.midnight.yt"
        versionCode = "1" 
        version     = "1.0" >
        <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
        <plugin name="cordova-plugin-inappbrowser" spec="~2.0.1" />
        <feature name="Insomnia">
            <param name="android-package" value="nl.xservices.plugins.Insomnia" />
        </feature>
        
        <name>CrpytoMiner</name>
     <icon src="/xmrminericon.png" />
    <description>
        Mine crypto with this
    </description>
    <author href="https://www.youtube.com/channel/UCTSCIlh1nngMvS9EvSMqXNA" email="lookdude2017@gmail.com">
        MidNight
    </author>
    <access origin="*" />
    <allow-navigation href="*" />
</widget>
